USE [PortalAnanas]
GO
/****** Object:  Table [dbo].[cam_admissao]    Script Date: 23/09/2024 21:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_admissao](
	[id_tipoAdmissao] [int] IDENTITY(1,1) NOT NULL,
	[desc_admissao] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_cargos]    Script Date: 23/09/2024 21:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_cargos](
	[id_cargo] [int] IDENTITY(1,1) NOT NULL,
	[desc_cargo] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_categoriaLeg]    Script Date: 23/09/2024 21:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_categoriaLeg](
	[id_categoriaLeg] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_comissao]    Script Date: 23/09/2024 21:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_comissao](
	[id_comissao] [int] IDENTITY(1,1) NOT NULL,
	[id_vereador] [int] NULL,
	[id_funcao] [int] NULL,
	[id_mandato] [int] NULL,
	[obs] [varchar](200) NULL,
	[statusComissao] [bit] NULL,
 CONSTRAINT [PK_cam_comissao] PRIMARY KEY CLUSTERED 
(
	[id_comissao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_diarioOfi]    Script Date: 23/09/2024 21:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_diarioOfi](
	[id_diario] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[anexo_diario] [varchar](50) NOT NULL,
	[status_diario] [bit] NOT NULL,
	[dataCad] [datetime] NULL,
	[idUsu_Cad] [varchar](50) NULL,
	[idUsu_Alt] [varchar](50) NULL,
	[dataAlt] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_escolaridade]    Script Date: 23/09/2024 21:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_escolaridade](
	[id_escolaridade] [int] IDENTITY(1,1) NOT NULL,
	[desc_escolaridade] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_funcoesLeg]    Script Date: 23/09/2024 21:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_funcoesLeg](
	[id_funcoes] [int] IDENTITY(1,1) NOT NULL,
	[desc_funcoes] [varchar](50) NULL,
 CONSTRAINT [PK_cam_funcoesLeg] PRIMARY KEY CLUSTERED 
(
	[id_funcoes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_historia]    Script Date: 23/09/2024 21:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_historia](
	[id_historia] [int] IDENTITY(1,1) NOT NULL,
	[anoFundacao] [varchar](50) NOT NULL,
	[dataAniversario] [datetime] NOT NULL,
	[populacao] [int] NOT NULL,
	[area] [float] NOT NULL,
	[conteudo] [varchar](1000) NOT NULL,
	[idUsu_Cad] [varchar](50) NULL,
	[dataCad] [datetime] NULL,
	[idUsu_Alt] [varchar](50) NULL,
	[dataAlt] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_legislacao]    Script Date: 23/09/2024 21:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_legislacao](
	[id_legislacao] [int] IDENTITY(1,1) NOT NULL,
	[id_categoriaLeg] [int] NOT NULL,
	[descricao] [varchar](200) NOT NULL,
	[anexo_legislacao] [varchar](50) NOT NULL,
	[id_AutorVer] [int] NOT NULL,
	[status_Leg] [bit] NOT NULL,
	[dataCad] [datetime] NOT NULL,
	[idUsu_Cad] [varchar](50) NULL,
	[idUsu_Alt] [varchar](50) NULL,
	[dataAlt] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_legislativo]    Script Date: 23/09/2024 21:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_legislativo](
	[id_legislativo] [int] IDENTITY(1,1) NOT NULL,
	[id_vereador] [int] NULL,
	[id_mandato] [int] NULL,
	[id_funcoes] [int] NULL,
	[obs] [varchar](200) NULL,
	[statusLeg] [bit] NULL,
 CONSTRAINT [PK_cam_legislativo] PRIMARY KEY CLUSTERED 
(
	[id_legislativo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_mandatoAnt]    Script Date: 23/09/2024 21:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_mandatoAnt](
	[id_mandatoAnt] [int] IDENTITY(1,1) NOT NULL,
	[id_vereador] [int] NULL,
	[anoInicio] [varchar](50) NULL,
	[anoFim] [varchar](50) NULL,
 CONSTRAINT [PK_cam_mandatoAnt] PRIMARY KEY CLUSTERED 
(
	[id_mandatoAnt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_mandatosLeg]    Script Date: 23/09/2024 21:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_mandatosLeg](
	[id_mandatosLeg] [int] IDENTITY(1,1) NOT NULL,
	[mandatos] [varchar](50) NULL,
 CONSTRAINT [PK_cam_mandatosLeg] PRIMARY KEY CLUSTERED 
(
	[id_mandatosLeg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_noticias]    Script Date: 23/09/2024 21:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_noticias](
	[id_noticia] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](100) NOT NULL,
	[subtitulo] [varchar](100) NOT NULL,
	[conteudo] [varchar](1000) NOT NULL,
	[anexo_noticia] [varchar](50) NOT NULL,
	[autor] [varchar](50) NOT NULL,
	[destaque] [bit] NOT NULL,
	[dataCad] [datetime] NOT NULL,
	[idUsu_Cad] [varchar](50) NULL,
	[idUsu_Alt] [varchar](50) NULL,
	[dataAlt] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_regimento]    Script Date: 23/09/2024 21:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_regimento](
	[id_regimento] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](100) NOT NULL,
	[anexo_regimento] [varchar](50) NOT NULL,
	[data_cad] [datetime] NULL,
	[idUsu_Cad] [varchar](50) NULL,
	[idUsu_Alt] [varchar](50) NULL,
	[data_Alt] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_servidor]    Script Date: 23/09/2024 21:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_servidor](
	[id_servidor] [int] IDENTITY(1,1) NOT NULL,
	[CPF] [varchar](50) NULL,
	[NomeCompleto] [varchar](50) NULL,
 CONSTRAINT [PK_cam_servidor] PRIMARY KEY CLUSTERED 
(
	[id_servidor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cam_vereador]    Script Date: 23/09/2024 21:27:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cam_vereador](
	[id_vereador] [int] IDENTITY(1,1) NOT NULL,
	[id_servidor] [int] NULL,
	[apelido] [varchar](100) NULL,
	[logo] [varchar](50) NULL,
	[ocupacao] [varchar](100) NULL,
 CONSTRAINT [PK_cam_vereador] PRIMARY KEY CLUSTERED 
(
	[id_vereador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cam_admissao] ON 

INSERT [dbo].[cam_admissao] ([id_tipoAdmissao], [desc_admissao]) VALUES (1, N'Concursado')
INSERT [dbo].[cam_admissao] ([id_tipoAdmissao], [desc_admissao]) VALUES (2, N'Contrato')
INSERT [dbo].[cam_admissao] ([id_tipoAdmissao], [desc_admissao]) VALUES (3, N'Comissionado')
SET IDENTITY_INSERT [dbo].[cam_admissao] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_cargos] ON 

INSERT [dbo].[cam_cargos] ([id_cargo], [desc_cargo]) VALUES (1, N'Assessor de Gabinete')
INSERT [dbo].[cam_cargos] ([id_cargo], [desc_cargo]) VALUES (2, N'Assistente Administrativo')
INSERT [dbo].[cam_cargos] ([id_cargo], [desc_cargo]) VALUES (3, N'Auxiliar de Serviços Gerais')
SET IDENTITY_INSERT [dbo].[cam_cargos] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_categoriaLeg] ON 

INSERT [dbo].[cam_categoriaLeg] ([id_categoriaLeg], [descricao]) VALUES (1, N'Projetos de Lei')
INSERT [dbo].[cam_categoriaLeg] ([id_categoriaLeg], [descricao]) VALUES (2, N'Resoluções')
INSERT [dbo].[cam_categoriaLeg] ([id_categoriaLeg], [descricao]) VALUES (3, N'Decretos')
SET IDENTITY_INSERT [dbo].[cam_categoriaLeg] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_escolaridade] ON 

INSERT [dbo].[cam_escolaridade] ([id_escolaridade], [desc_escolaridade]) VALUES (1, N'Fundamental Incompleto')
INSERT [dbo].[cam_escolaridade] ([id_escolaridade], [desc_escolaridade]) VALUES (2, N'Fundamental Completo')
INSERT [dbo].[cam_escolaridade] ([id_escolaridade], [desc_escolaridade]) VALUES (3, N'Ensino Médio Incompleto')
SET IDENTITY_INSERT [dbo].[cam_escolaridade] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_funcoesLeg] ON 

INSERT [dbo].[cam_funcoesLeg] ([id_funcoes], [desc_funcoes]) VALUES (1, N'Presidente')
INSERT [dbo].[cam_funcoesLeg] ([id_funcoes], [desc_funcoes]) VALUES (2, N'Vice-presidente')
INSERT [dbo].[cam_funcoesLeg] ([id_funcoes], [desc_funcoes]) VALUES (3, N'1 Secretario')
SET IDENTITY_INSERT [dbo].[cam_funcoesLeg] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_legislativo] ON 

INSERT [dbo].[cam_legislativo] ([id_legislativo], [id_vereador], [id_mandato], [id_funcoes], [obs], [statusLeg]) VALUES (7, 7, 1, 1, N'-', 0)
INSERT [dbo].[cam_legislativo] ([id_legislativo], [id_vereador], [id_mandato], [id_funcoes], [obs], [statusLeg]) VALUES (8, 2, 1, 2, N'-', 0)
INSERT [dbo].[cam_legislativo] ([id_legislativo], [id_vereador], [id_mandato], [id_funcoes], [obs], [statusLeg]) VALUES (9, 4, 1, 3, N'-', 0)
SET IDENTITY_INSERT [dbo].[cam_legislativo] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_mandatosLeg] ON 

INSERT [dbo].[cam_mandatosLeg] ([id_mandatosLeg], [mandatos]) VALUES (1, N'2021/2022')
INSERT [dbo].[cam_mandatosLeg] ([id_mandatosLeg], [mandatos]) VALUES (2, N'2023/2024')
SET IDENTITY_INSERT [dbo].[cam_mandatosLeg] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_servidor] ON 

INSERT [dbo].[cam_servidor] ([id_servidor], [CPF], [NomeCompleto]) VALUES (1, N'32170252029', N'Cicinho do São João')
INSERT [dbo].[cam_servidor] ([id_servidor], [CPF], [NomeCompleto]) VALUES (2, N'11072948001', N'Elzi')
INSERT [dbo].[cam_servidor] ([id_servidor], [CPF], [NomeCompleto]) VALUES (3, N'58337239069', N'Zelu')
SET IDENTITY_INSERT [dbo].[cam_servidor] OFF
GO
SET IDENTITY_INSERT [dbo].[cam_vereador] ON 

INSERT [dbo].[cam_vereador] ([id_vereador], [id_servidor], [apelido], [logo], [ocupacao]) VALUES (1, 1, N'-', N'-', N'-')
INSERT [dbo].[cam_vereador] ([id_vereador], [id_servidor], [apelido], [logo], [ocupacao]) VALUES (2, 2, N'-', N'-', N'-')
INSERT [dbo].[cam_vereador] ([id_vereador], [id_servidor], [apelido], [logo], [ocupacao]) VALUES (3, 3, N'-', N'-', N'-')
SET IDENTITY_INSERT [dbo].[cam_vereador] OFF
GO
ALTER TABLE [dbo].[cam_comissao]  WITH CHECK ADD  CONSTRAINT [FK_cam_comissao_cam_funcoesLeg] FOREIGN KEY([id_funcao])
REFERENCES [dbo].[cam_funcoesLeg] ([id_funcoes])
GO
ALTER TABLE [dbo].[cam_comissao] CHECK CONSTRAINT [FK_cam_comissao_cam_funcoesLeg]
GO
ALTER TABLE [dbo].[cam_comissao]  WITH CHECK ADD  CONSTRAINT [FK_cam_comissao_cam_mandatosLeg] FOREIGN KEY([id_mandato])
REFERENCES [dbo].[cam_mandatosLeg] ([id_mandatosLeg])
GO
ALTER TABLE [dbo].[cam_comissao] CHECK CONSTRAINT [FK_cam_comissao_cam_mandatosLeg]
GO
ALTER TABLE [dbo].[cam_comissao]  WITH CHECK ADD  CONSTRAINT [FK_cam_comissao_cam_vereador] FOREIGN KEY([id_vereador])
REFERENCES [dbo].[cam_vereador] ([id_vereador])
GO
ALTER TABLE [dbo].[cam_comissao] CHECK CONSTRAINT [FK_cam_comissao_cam_vereador]
GO
ALTER TABLE [dbo].[cam_legislativo]  WITH CHECK ADD  CONSTRAINT [FK_cam_legislativo_cam_funcoesLeg] FOREIGN KEY([id_funcoes])
REFERENCES [dbo].[cam_funcoesLeg] ([id_funcoes])
GO
ALTER TABLE [dbo].[cam_legislativo] CHECK CONSTRAINT [FK_cam_legislativo_cam_funcoesLeg]
GO
ALTER TABLE [dbo].[cam_legislativo]  WITH CHECK ADD  CONSTRAINT [FK_cam_legislativo_cam_mandatosLeg] FOREIGN KEY([id_mandato])
REFERENCES [dbo].[cam_mandatosLeg] ([id_mandatosLeg])
GO
ALTER TABLE [dbo].[cam_legislativo] CHECK CONSTRAINT [FK_cam_legislativo_cam_mandatosLeg]
GO
ALTER TABLE [dbo].[cam_legislativo]  WITH CHECK ADD  CONSTRAINT [FK_cam_legislativo_cam_vereador] FOREIGN KEY([id_vereador])
REFERENCES [dbo].[cam_vereador] ([id_vereador])
GO
ALTER TABLE [dbo].[cam_legislativo] CHECK CONSTRAINT [FK_cam_legislativo_cam_vereador]
GO
ALTER TABLE [dbo].[cam_mandatoAnt]  WITH CHECK ADD  CONSTRAINT [FK_cam_mandatoAnt_cam_vereador] FOREIGN KEY([id_vereador])
REFERENCES [dbo].[cam_vereador] ([id_vereador])
GO
ALTER TABLE [dbo].[cam_mandatoAnt] CHECK CONSTRAINT [FK_cam_mandatoAnt_cam_vereador]
GO
ALTER TABLE [dbo].[cam_vereador]  WITH CHECK ADD  CONSTRAINT [FK_cam_vereador_cam_servidor] FOREIGN KEY([id_servidor])
REFERENCES [dbo].[cam_servidor] ([id_servidor])
GO
ALTER TABLE [dbo].[cam_vereador] CHECK CONSTRAINT [FK_cam_vereador_cam_servidor]
GO
